html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

header, main, footer {
    padding-left: 240px;
}

.btn-mobile {
    position: fixed;
    z-index: 999;
    bottom: 25px;
    right: 25px;
    margin: 0;
}

.btn-edit-admin {
    display: none;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

@media (min-width : 992px) {
    .btn-mobile {
        display: none;
    }

    .btn-edit-admin {
        display: block;
    }
}

/*nav a:hover, nav a:active, nav a:focus{
    color:#eceff1;
}*/

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

    .placeholders h4 {
        margin-bottom: 0;
    }

.placeholder {
    margin-bottom: 20px;
}

    .placeholder img {
        display: inline-block;
        border-radius: 50%;
    }

.nav-admin {
    padding: 0 0 0 10px;
}


@media only screen and (min-width : 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        line-height: 60px;
    }
}

.side-nav li:last-child {
    border-bottom: 0;
}

.side-nav li {
    padding: 0;
    border-bottom: 1px solid #eee;
}

.side-nav a {
    height: auto;
    padding: 0;
}

.side-nav.fixed a {
    padding: 0 15px;
    margin: 0;
}

.side-nav a.brand-logo {
    line-height: 0;
}

.brand-logo img {
    padding: 20px 0;
}

.side-nav .collapsible-header {
    line-height: 64px;
}

    .side-nav .collapsible-header + .collapsible-body ul li a {
        line-height: 15px;
        font-size: 13px;
        margin: 0 !important;
        padding: 10px 10px 10px 30px !important;
    }

.side-nav .nav-opcoes button {
    margin: 0 1rem 0 1rem;
}

.nav-opcoes {
    position: absolute;
    bottom: 70px;
}

    .nav-opcoes:hover {
        background: none !important;
    }

.list-portfolio-home {
    padding:0 15px;
}

    .list-portfolio-home li {
        max-width: 250px;
        height: auto;
        margin: 0 2px;
        width: 30%;
    }

        .list-portfolio-home li img {
            width: 100%;
        }

@media (max-width : 768px) {
    .list-portfolio-home li {
        width: 45%;
    }
}

@media (max-width : 360px) {
    .list-portfolio-home li {
        width: 43%;
    }
}
