@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @Html.Partial("_SideBar")
    <main>
        <div class="row">
            <ul class="list-portfolio-home">
                <li>
                    <img src="http://a1.dspncdn.com/media/692x/c2/03/96/c20396af19823ef68e32dccab6a5d06c.jpg" />
                </li>
                <li>
                    <img src="http://a1.dspncdn.com/media/692x/53/f3/5a/53f35a61c8b811b2e790c4a30265164d.jpg" />
                </li>
                <li>
                    <img src="http://a1.dspncdn.com/media/692x/92/8e/cb/928ecb8ada567f3ab71f4ebcc3d9586a.jpg" />
                </li>
                <li>
                    <img src="http://a1.dspncdn.com/media/692x/5d/b5/82/5db5823720861b4cba3b65457b640d27.jpg" />
                </li>
                <li>
                    <img src="http://a1.dspncdn.com/media/692x/76/42/e9/7642e94c4c632c8bda7e32808a0b9c16.jpg" />
                </li>
                <li>
                    <img src="http://a1.dspncdn.com/media/692x/96/b0/68/96b0687073b5afe5bfce869b26229529.jpg" />
                </li>
                <li>
                    <img src="http://a1.dspncdn.com/media/692x/bf/9a/dc/bf9adc899bc60433b2d014a967deb08e.jpg" />
                </li>
                <li>
                    <img src="http://a1.dspncdn.com/media/692x/bd/1b/41/bd1b41e6a664fdeb247867750fc827c3.jpg" />
                </li>
                <li>
                    <img src="http://a1.dspncdn.com/media/692x/63/a7/db/63a7dbf36d4cffe18739605f7ef7d346.jpg" />
                </li>
                <li>
                    <img src="http://a1.dspncdn.com/media/692x/69/97/23/6997231b7a88fea4630fe99edd6c4745.jpg" />
                </li>
                <li>
                    <img src="http://a1.dspncdn.com/media/692x/59/4a/85/594a8533021585f439f0513c0f0fb353.jpg" />
                </li>
                <li>
                    <img src="http://a1.dspncdn.com/media/692x/12/45/2e/12452ee9f7fd7ec4ae061b145541e318.jpg" />
                </li>
                <li>
                    <img src="http://a1.dspncdn.com/media/692x/39/6b/ff/396bff1a87d0e152f0bc9b44a81300f0.jpg" />
                </li>
                <li>
                    <img src="http://a1.dspncdn.com/media/692x/f8/5b/af/f85baf348dc93b4469fc9464e1de25a2.jpg" />
                </li>
                <li>
                    <img src="http://a1.dspncdn.com/media/692x/54/18/46/5418463a0b71c22220cb6d3149a0680f.jpg" />
                </li>
            </ul>
        </div>
    </main>
</div>

