<header>
    <form class="form-signin" action="@Url.Action("LogOut", "Login")" method="post">
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!" class="waves-effect">Portfolio</a></li>
            <li class="divider"></li>
            <li><button type="submit" class="waves-effect">Sair</button></li>
        </ul>

        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="/" class="brand-logo"><img src="/images/logo.svg" alt=""></a>
                        <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                        <div class="right-nav hide-on-med-and-down">
                            <a href="https://editor.stamplay.com/register?utm_source=stamplay&utm_content=navbar_signup&utm_medium=website" class="waves-effect waves-stamplay btn-flat" id="signup-navbar">sign up</a>
                            <a href="https://editor.stamplay.com/login?utm_source=stamplay&utm_content=navbar_login&utm_medium=website" class="waves-effect waves-light btn">login</a>
                        </div>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="/docs/main">Docs</a></li>
                            <li><a href="/pricing">Pricing</a></li>
                            <li><a href="/about">About</a></li>
                        </ul>
                        <ul class="side-nav" id="mobile-nav">
                            <li><a href="/docs/main">Docs</a></li>
                            <li><a href="/pricing">Pricing</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="https://editor.stamplay.com/register?utm_source=stamplay&utm_content=navbar_signup&utm_medium=website" class="waves-effect waves-stamplay btn-flat" id="signup-mobile-navbar">sign up</a></li>
                            <li><a href="https://editor.stamplay.com/login?utm_source=stamplay&utm_content=navbar_login&utm_medium=website" class="waves-effect waves-light btn white-text">login</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </form>
</header>
