<header>
    <form class="form-signin" action="@Url.Action("LogOut", "Login")" method="post">
        <ul id="nav-mobile" class="side-nav fixed" style="width: 240px;">
            <li class="logo">
                <a id="logo-container" href="http://evertonrafael.com" class="brand-logo">
                    <img src="http://evertonrafael.com/images/everton-rafael-logo.png" />
                </a>
            </li>
            <li class="bold"><a href="#" class="waves-effect waves-teal">Sobre</a></li>
            <li class="no-padding" id="MenuAdmin">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold">
                        <a class="collapsible-header  waves-effect waves-teal">Admin</a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="~/Admin/Index" class="waves-effect waves-teal">Home</a></li>
                                <li><a href="~/Admin/CriacaoPost" class="waves-effect waves-teal">Criar Post</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="nav-opcoes">
                <button type="submit" class="btn waves-effect">Sair</button>
            </li>
        </ul>
    </form>
</header>

<a href="#" data-activates="nav-mobile" class="btn btn-floating button-collapse btn-mobile"><i class="mdi-navigation-menu"></i></a>