<header>
    <form class="form-signin" action="@Url.Action("LogOut", "Login")" method="post">
        <ul id="nav-mobile" class="side-nav fixed" style="width: 240px;">
            <li class="logo">
                <a id="logo-container" href="http://evertonrafael.com" class="brand-logo">
                    <img src="~/Content/images/everton-rafael.png" />
                </a>
            </li>
            <li class="bold"><a href="#" class="waves-effect waves-teal">Sobre</a></li>
            <li class="no-padding" id="MenuAdmin">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold">
                        <a class="collapsible-header  waves-effect waves-teal">Admin</a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="~/Admin/Index" class="waves-effect waves-teal">Home</a></li>
                                <li><a href="~/Admin/CriacaoPost" class="waves-effect waves-teal">Criar Post</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="nav-opcoes">
                <button type="submit" class="waves-effect waves-light btn blue-grey"><i class="material-icons left">arrow_back</i> Sair</button>
            </li>
        </ul>
    </form>
</header>

<div class="fixed-action-btn btn-edit-admin" style="bottom: 25px; right: 25px;">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li><a href="~/Admin/Index" class="btn-floating green"><i class="large material-icons">dashboard</i></a></li>
        <li><a href="~/Admin/Posts" class="btn-floating blue"><i class="large material-icons">apps</i></a></li>
        <li><a href="~/Admin/CriacaoPost" class="btn-floating deep-orange"><i class="large material-icons">create</i></a></li>
    </ul>
</div>

<a href="#" data-activates="nav-mobile" class="btn-large btn-floating button-collapse btn-mobile cyan"><i class="large material-icons">menu</i></a>