@{
    ViewBag.Title = "Criação de Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("MenuSideBar", "Admin")

<div class="container-fluid">
    <main>
        <div class="row">
            <div class="col s12">
                <div class="section">
                    <h4>Criação de Post</h4>
                    @*<p>Novo post</p>*@
                </div>
                <div class="divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Nome do Post</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <select>
                            <option value="" disabled selected>Selecione a categoria</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>
                    <div class="input-field col s12 m6">
                        <input type="date" id="Data" class="datepicker">
                        <label for="Data">Data da publicação</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea" length="1000"></textarea>
                        <label for="textarea1">Descrição</label>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="row">
                    <div class="col s12">
                        <form action="~/images/uploads/"
                              class="dropzone"
                              id="myAwesomeDropzone"></form>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="row">
                    <div class="col s12">
                        <button type="submit" class="waves-effect waves-light btn-large"><i class="material-icons left">save</i>Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<link href="~/Scripts/plugins/dropzone-master/dist/basic.css" rel="stylesheet" />
<link href="~/Scripts/plugins/dropzone-master/dist/dropzone.css" rel="stylesheet" />
<script src="~/Scripts/plugins/dropzone-master/dist/dropzone.js"></script>

<style type="text/css">
    .dropzone {
        border: 4px dashed #eee;
        border-radius: 5px;
        background: white;
    }

        .dropzone .dz-message {
            font-weight: 400;
            font-size: 2em;
            color:#999;
        }

            .dropzone .dz-message .note {
                font-size: 0.8em;
                font-weight: 200;
                display: block;
                margin-top: 1.4rem;
            }
</style>

<script type="text/javascript">
    Dropzone.options.myAwesomeDropzone = {
        paramName: "file",
        dictDefaultMessage: 'Upload das imagens',
    };
</script>