<header>
    <ul id="nav-mobile" class="side-nav fixed" style="width: 240px;">
        <li class="logo">
            <a id="logo-container" href="http://evertonrafael.com" class="brand-logo">
                <img src="~/Content/images/everton-rafael.png" />
            </a>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header  waves-effect waves-teal">Jobs</a>
                    <div class="collapsible-body">
                        <ul class="nav-jobs">
                            <li><a href="#" class="collapsible-header waves-effect waves-teal">Front-End - W3MLabs</a></li>
                            <li><a href="#" class="collapsible-header waves-effect waves-teal">Front-End - Portal do Aluno - CNA</a></li>
                            <li><a href="#" class="collapsible-header waves-effect waves-teal">Anúncio Revista - W3MLabs</a></li>
                            <li><a href="#" class="collapsible-header waves-effect waves-teal">Catálogo de Produtos - Metaltru</a></li>
                            <li><a href="#" class="collapsible-header waves-effect waves-teal">Catálogo de Produtos - Closet&Cia</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li><a href="~/Sobre" class="collapsible-header waves-effect waves-teal">Sobre</a></li>
        <li class="no-padding" id="MenuAdmin">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header  waves-effect waves-teal"><i class="material-icons">settings</i> Admin</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="~/Admin/Index" class="collapsible-header waves-effect waves-teal"><i class="material-icons">home</i> Home</a></li>
                            <li><a href="~/Admin/Posts" class="collapsible-header waves-effect waves-teal"><i class="material-icons">view_module</i> Posts</a></li>
                            <li><a href="~/Admin/CriacaoPost" class="collapsible-header waves-effect waves-teal"><i class="material-icons">create</i> Criar Post</a></li>
                            <li><a href="~/Admin/Sobre" class="collapsible-header waves-effect waves-teal"><i class="material-icons">face</i> Sobre</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</header>

<a href="#" data-activates="nav-mobile" class="btn-large btn-floating button-collapse btn-mobile cyan"><i class="large material-icons">menu</i></a>