@model Model.Usuario
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <form class="form-signin" action="@Url.Action("Login", "Login")" method="post">
        @Html.AntiForgeryToken()

        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <img src="~/Content/images/everton-rafael.png" />
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="inputUser" type="email" class="validate" name="email" autofocus>
                        <label for="inputUser">Login</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="inputPassword" type="password" class="validate" name="senha">
                        <label for="inputPassword">Senha</label>
                    </div>
                </div>
                <p>
                    <input type="checkbox" id="remember-me" value="remember-me" />
                    <label for="remember-me">Lembrar</label>
                </p>
            </div>
            <div class="card-action">
                <button class="btn btn-lg btn-block waves-effect waves-light" type="submit">Entrar</button>
                @Html.ValidationMessage("usuarioousenhaeinvalidos")
            </div>
        </div>

    </form>    
</div>

<link href="~/Content/css/Login.css" rel="stylesheet" />